/* 
#9DE7D7 
#68D0EC
*/

.card {
    background: #68D0EC;
    color: white;
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;
}

.card-bin {
    background: #9DE7D7;
    color: white;
    width: 200px;
    height: 200px;
    margin: 50px;
    float: left;
}

.card-bins {
    height: 300px;
    width: 100%;
    float: none;
}

.card-stack {
    height: 300px;
    width: 100%;
    float: none;
}

#report-button {
    margin-left: 25px;
}